.maintenance-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  color: #cc0001;
  
  h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
  }
}