@import '../../assets/scss/_variable.scss';

.Header {
  position: sticky;
  top: 0;
  z-index: 99;

  .Header_fixed {
    // z-index: 99;
    // position: fixed;
    max-width: 600px;
    width: 100%;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-layout, var(--primary-button-color)) !important;
    background-attachment: fixed !important;
    height: 60px;
    padding: 0px var(--screen-padding-x);
    font-size: $text-normal-fs;
    padding-top: 0px; // ẩn app cho ko bị che camera ở phía trên

    svg {
      height: 16px;
      width: 16px;
      path {
        fill: var(--header-text-color, white);
      }
    }
    span {
      color: var(--header-text-color, white);
    }
    .no_icon {
      height: 16px;
      width: 16px;
    }
  }
  .Header_padding {
    position: relative;
    // height: 60px;
    flex-shrink: 0;
    display: block;
    // min-height: 60px;
    content: '';
  }
}

.Header_expand {
  .Header_fixed {
    height: 80px !important;
    padding-top: 42px !important;
  }
}

@media screen and (min-width: 600px) {
  .Header {
    .Header_fixed {
      height: 60px;
      padding: 0px var(--screen-padding-x) 0;
      background: var(--background-layout, var(--background-color)) !important;
      background-attachment: fixed !important;
      font-size: $text-large-fs;
      span {
        color: var(--header-text-color, var(--title-color)) !important;
      }
      svg {
        path {
          fill: var(--header-text-color, var(--title-color)) !important;
        }
      }
    }
    .Header_padding {
      position: relative;
      // height: 60px;
      flex-shrink: 0;
      display: block;
      // min-height: 60px;
      content: '';
    }
  }

  .Header_expand {
    .Header_fixed {
      height: 80px !important;
      padding-top: 42px !important;
    }
  }
}

body[data-theme='BIDV'] {
  .Header_fixed {
    justify-content: flex-start;
    gap: 12px;

    .no_icon {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
      box-sizing: border-box;
    }

    span {
      font-weight: 600 !important;
      font-size: 18px !important;
      line-height: 24px;
      letter-spacing: 0%;
    }
  }
}
